body {
  margin: 0;
  padding: 0;
  height: 8000px;
  overflow-x: hidden;
}

section {
  background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg)
    fixed no-repeat;
  /*no-repeat은 이미지를 반복해서 나오지 않게 함
    fixed는 이미지고정*/
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo {
  width: 40%;
  position: absolute; /*절대적인*/
  top: 80px;
  left: 700px;
}

h1 {
  font-size: 6em;
  width: 230px;
  color: white;
  font-family: sans-serif;
  position: absolute;
  left: 200px;
  animation: slide 2s ease-out;
}

@keyframes slide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 200px;
  }
}

@keyframes back {
  from {
    opacity: 1;
    left: 200px;
  }
  to {
    left: -100px;
    opacity: 0;
  }
}
